{% extends 'base.html' %}



{% block title %}
about
{% endblock title %}

{% block body %}
<br id='top'><br>
{% comment %} <img src="C:\Users\admin\Desktop\one.png" class="img-fluid" alt="..."> {% endcomment %}
{% comment %} <img src="C:/Users/admin/Documents/skooty_project/one/pics/a.PNG" class="d-block w-100 " alt="..."> {% endcomment %}
<div class="container-fluid bg-dark py-4">
    <h1 class="text-center fw-bold text-light">
      OLA SKOOTERS
    </h1>
  </div>
  <main class="container mt-4">
    <!-- TVS Scooters -->
    <section class="mb-4">
      <div class="row">
        <!-- Card 1 -->
        <div class="col-md-4 mb-4">
          <div class="card border-dark shadow-lg">
            {% comment %} <img src="static\a.PNG" alt="Example Image" width="300" height="200"> {% endcomment %}
            <img src="static\electricola1.png" class="card-img-top" alt="TVS Scooter Image" height="300" width="100">
            <div class="card-body">
              <h3 class="card-title text-primary">S1 PRO</h3>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod euismod nisi, sed vestibulum velit feugiat vitae.</p>
              <p class="card-text"><strong>Warranty:</strong> 2 years</p>
            </div>
            <div class="card-footer bg-transparent border-top text-center">
              <a href="olas1pro" class="btn btn-outline-primary">Learn More</a>
            </div>
          </div>
        </div>
         <!-- Card 2 -->
        <div class="col-md-4 mb-4">
            <div class="card border-dark shadow-lg">
              <img src="static\electricola2.png" class="card-img-top" alt="TVS Scooter Image" height="300" width="100">
              <div class="card-body">
                <h3 class="card-title text-primary">S1 AIR</h3>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod euismod nisi, sed vestibulum velit feugiat vitae.</p>
                <p class="card-text"><strong>Warranty:</strong> 2 years</p>
              </div>
              <div class="card-footer bg-transparent border-top text-center">
                <a href="olas1air" class="btn btn-outline-primary">Learn More</a>
              </div>
            </div>
          </div>
          <!-- Card 3 -->
        <div class="col-md-4 mb-4">
            <div class="card border-dark shadow-lg">
              <img src="static\electricola3.png" class="card-img-top" alt="TVS Scooter Image" height="300" width="100">
              <div class="card-body">
                <h3 class="card-title text-primary">S1 X+</h3>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod euismod nisi, sed vestibulum velit feugiat vitae.</p>
                <p class="card-text"><strong>Warranty:</strong> 2 years</p>
              </div>
              <div class="card-footer bg-transparent border-top text-center">
                <a href="olas1x" class="btn btn-outline-primary">Learn More</a>
              </div>
            </div>
          </div> 
         
</main>



  <div class="container-fluid bg-dark py-4">
    <h1 class="text-center fw-bold text-light">
      ATHER SKOOTERS
    </h1>
  </div>
  <main class="container mt-4">
    <!-- TVS Scooters -->
    <section class="mb-4">
      <div class="row">
        <!-- Card 1 -->
        <div class="col-md-4 mb-4">
          <div class="card border-dark shadow-lg">
            <img src="static\electricather1.png" class="card-img-top" alt="TVS Scooter Image" height="300" width="100">
            <div class="card-body">
              <h3 class="card-title text-primary">450S</h3>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod euismod nisi, sed vestibulum velit feugiat vitae.</p>
              <p class="card-text"><strong>Warranty:</strong> 2 years</p>
            </div>
            <div class="card-footer bg-transparent border-top text-center">
              <a href="ather450s" class="btn btn-outline-primary">Learn More</a>
            </div>
          </div>
        </div>
         <!-- Card 2 -->
        <div class="col-md-4 mb-4">
            <div class="card border-dark shadow-lg">
              <img src="static\electricather2.png" class="card-img-top" alt="TVS Scooter Image" height="300" width="100">
              <div class="card-body">
                <h3 class="card-title text-primary">450X</h3>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod euismod nisi, sed vestibulum velit feugiat vitae.</p>
                <p class="card-text"><strong>Warranty:</strong> 2 years</p>
              </div>
              <div class="card-footer bg-transparent border-top text-center">
                <a href="ather450x" class="btn btn-outline-primary">Learn More</a>
              </div>
            </div>
          </div>
          <!-- Card 3 -->
        <div class="col-md-4 mb-4">
            <div class="card border-dark shadow-lg">
              <img src="static\electricather3.png" class="card-img-top" alt="TVS Scooter Image" height="300" width="100">
              <div class="card-body">
                <h3 class="card-title text-primary">450 Apex</h3>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod euismod nisi, sed vestibulum velit feugiat vitae.</p>
                <p class="card-text"><strong>Warranty:</strong> 2 years</p>
              </div>
              <div class="card-footer bg-transparent border-top text-center">
                <a href="ather450apex" class="btn btn-outline-primary">Learn More</a>
              </div>
            </div>
          </div> 
         
</main>

  <div class="container-fluid bg-dark py-4">
    <h1 class="text-center fw-bold text-light">
      TVS SKOOTERS
    </h1>
  </div>
  <main class="container mt-4">
    <!-- TVS Scooters -->
    <section class="mb-4">
      <div class="row">
        <!-- Card 1 -->
        <div class="col-md-4 mb-4">
          <div class="card border-dark shadow-lg">
            <img src="static\electrictvs1.png" class="card-img-top" alt="TVS Scooter Image" height="300" width="100">
            <div class="card-body">
              <h3 class="card-title text-primary">IQube</h3>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod euismod nisi, sed vestibulum velit feugiat vitae.</p>
              <p class="card-text"><strong>Warranty:</strong> 2 years</p>
            </div>
            <div class="card-footer bg-transparent border-top text-center">
              <a href="tvsiqube" class="btn btn-outline-primary">Learn More</a>
            </div>
          </div>
        </div>
         <!-- Card 2 -->
        <div class="col-md-4 mb-4">
            <div class="card border-dark shadow-lg">
              <img src="static\electrictvs2.png" class="card-img-top" alt="TVS Scooter Image" height="300" width="100">
              <div class="card-body">
                <h3 class="card-title text-primary">IQube S</h3>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod euismod nisi, sed vestibulum velit feugiat vitae.</p>
                <p class="card-text"><strong>Warranty:</strong> 2 years</p>
              </div>
              <div class="card-footer bg-transparent border-top text-center">
                <a href="tvsiqubes" class="btn btn-outline-primary">Learn More</a>
              </div>
            </div>
          </div>
          <!-- Card 3 -->
        <div class="col-md-4 mb-4">
            <div class="card border-dark shadow-lg">
              <img src="static\electrictvs3.png" class="card-img-top" alt="TVS Scooter Image" height="300" width="100">
              <div class="card-body">
                <h3 class="card-title text-primary">IQube ST</h3>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod euismod nisi, sed vestibulum velit feugiat vitae.</p>
                <p class="card-text"><strong>Warranty:</strong> 2 years</p>
              </div>
              <div class="card-footer bg-transparent border-top text-center">
                <a href="tvsiqubest" class="btn btn-outline-primary">Learn More</a>
              </div>
            </div>
          </div> 
         
</main>

  <div class="container-fluid bg-dark py-4">
    <h1 class="text-center fw-bold text-light">
    VIDA SKOOTERS
    </h1>
  </div>
  <main class="container mt-4">
    <!-- TVS Scooters -->
    <section class="mb-4">
      <div class="row">
        <!-- Card 1 -->
        <div class="col-md-4 mb-4">
          <div class="card border-dark shadow-lg">
            <img src="static\electricvida1.png" class="card-img-top" alt="TVS Scooter Image" height="300" width="100">
            <div class="card-body">
              <h3 class="card-title text-primary">V1 PLUS</h3>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod euismod nisi, sed vestibulum velit feugiat vitae.</p>
              <p class="card-text"><strong>Warranty:</strong> 2 years</p>
            </div>
            <div class="card-footer bg-transparent border-top text-center">
              <a href="vidav1plus" class="btn btn-outline-primary">Learn More</a>
            </div>
          </div>
        </div>
         <!-- Card 2 -->
        <div class="col-md-4 mb-4">
            <div class="card border-dark shadow-lg">
              <img src="static\electricvida2.png" class="card-img-top" alt="TVS Scooter Image" height="300" width="100">
              <div class="card-body">
                <h3 class="card-title text-primary">V1 PRO</h3>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod euismod nisi, sed vestibulum velit feugiat vitae.</p>
                <p class="card-text"><strong>Warranty:</strong> 2 years</p>
              </div>
              <div class="card-footer bg-transparent border-top text-center">
                <a href="vidav1pro" class="btn btn-outline-primary">Learn More</a>
              </div>
            </div>
          </div>
           
         
</main>

      <div class="container-fluid bg-dark py-4">
        <h1 class="text-center fw-bold text-light">
        HONDA SKOOTERS
        </h1>
      </div>
      <main class="container mt-4">
        <!-- TVS Scooters -->
        <section class="mb-4">
          <div class="row">
            <!-- Card 1 -->
            <div class="col-md-4 mb-4">
              <div class="card border-dark shadow-lg">
                <img src="static\electrichonda1.png" class="card-img-top" alt="TVS Scooter Image" height="300" width="100">
                <div class="card-body">
                  <h3 class="card-title text-primary">PCX Electric</h3>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod euismod nisi, sed vestibulum velit feugiat vitae.</p>
                  <p class="card-text"><strong>Warranty:</strong> 2 years</p>
                </div>
                <div class="card-footer bg-transparent border-top text-center">
                  <a href="hondapcxelectric" class="btn btn-outline-primary">Learn More</a>
                </div>
              </div>
            </div>
             <!-- Card 2 -->
            <div class="col-md-4 mb-4">
                <div class="card border-dark shadow-lg">
                  <img src="static\electrichonda2.png" class="card-img-top" alt="TVS Scooter Image" height="300" width="100">
                  <div class="card-body">
                    <h3 class="card-title text-primary">U-Go</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod euismod nisi, sed vestibulum velit feugiat vitae.</p>
                    <p class="card-text"><strong>Warranty:</strong> 2 years</p>
                  </div>
                  <div class="card-footer bg-transparent border-top text-center">
                    <a href="hondaugo" class="btn btn-outline-primary">Learn More</a>
                  </div>
                </div>
              </div>
               
             
    </main>
      

  <div class="container-fluid bg-dark py-4">
    <h1 class="text-center fw-bold text-light">
      BAJAJ SKOOTERS
    </h1>
  </div>
  <main class="container mt-4">
    <!-- TVS Scooters -->
    <section class="mb-4">
      <div class="row">
        <!-- Card 1 -->
        <div class="col-md-4 mb-4">
          <div class="card border-dark shadow-lg">
            <img src="static\electricbajaj1.png" class="card-img-top" alt="TVS Scooter Image" height="300" width="100">
            <div class="card-body">
              <h3 class="card-title text-primary">Chetak</h3>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod euismod nisi, sed vestibulum velit feugiat vitae.</p>
              <p class="card-text"><strong>Warranty:</strong> 2 years</p>
            </div>
            <div class="card-footer bg-transparent border-top text-center">
              <a href="bajajchetak" class="btn btn-outline-primary">Learn More</a>
            </div>
          </div>
        </div>
        
           
         
</main>
      


  <div class="container-fluid bg-dark py-4">
    <h1 class="text-center fw-bold text-light">
      RIVER INDIE SKOOTERS
    </h1>
  </div>
  <center>
  <main class="container mt-4">
    <!-- TVS Scooters -->
    <section class="mb-4">
      <div class="row">
        <!-- Card 1 -->
        <div class="col-md-4 mb-4">
          <div class="card border-dark shadow-lg">
            <img src="static\electricriverindie1.png" class="card-img-top" alt="TVS Scooter Image" height="300" width="100">
            <div class="card-body">
              <h3 class="card-title text-primary">River Indie</h3>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod euismod nisi, sed vestibulum velit feugiat vitae.</p>
              <p class="card-text"><strong>Warranty:</strong> 2 years</p>
            </div>
            <div class="card-footer bg-transparent border-top text-center">
              <a href="riverindie" class="btn btn-outline-primary">Learn More</a>
            </div>
          </div>
        </div>
        
           
         
</main>
</center>
<a href="#top">Go to top</a>
<br>
<br>
<br>
<br>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/your-fontawesome-kit.js" crossorigin="anonymous"></script>
      
<style>
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    /* Retina-specific styles here */
 }

</style>
  
  
  
{% endblock body %}

